.App {
  text-align: center;

  background-color: rgb(255, 255, 255);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Probably bad practice, and I should use something like styledcomponents 
or the one that does style jsx but */

/* Also, I think all of the css I've done for this is bad practice. 
Very sloppy, but its working */
.col .row {
  margin: 0;
  padding: 0;
}
.row > .col {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#search-hn-header {
  padding: 0.5rem 0.25rem;
}
nav {
  height: 100vh;
}

div.queries {
  height: 50vh;
  overflow: auto;
}

div.queries ul {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

p.article-headline{
  color: #212121;
}

p.article-headline:hover {
  color: blue
}

@media (max-width: 600px) {
  nav {
    height: unset;
  }
  div.queries,
  div.queries ul {
    flex-direction: row;
    max-height: 56px;
    overflow: auto;
    flex-wrap: wrap;
  }
  div.queries ul li {
    margin: 0 0.25rem;
  }
}
